/* * {
    border-style: solid;
    border-color: #ff0000;

} */

/* Estilos del Menu */
head {
    padding: 0%;
    border: 0px;
    border-width: 0px;
}

body {
    padding: 0%;
    border: 0px;
    border-width: 0px;
    background-color: white;
    height: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.navbar {
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el logo */
.navbar-logo img.logo {
    height: 60px;
}

/* Estilos para el título */
.navbar-titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 0;
    color: #369742;
    padding: 0px;
}

/* Estilos para los botones de la navbar */
.navbar-links {

    display: flex;
    /* flex-direction: row; */
    align-content: center;
    gap: 10px;

}

.navbar-btn {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #43cccc;
    border: none;
    padding: 0px 15px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.5s;
}

.navbar-nombre {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #cd2b71;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.5s;
}

/* Efecto hover para los botones */
.navbar-btn:hover {
    background-color: #0056b3;
}

.navbar-nombre:hover {
    background-color: green;
}



/* Preguntando el nombre */
.popup {

    /* display: none; */
    /* Oculto por defecto */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
    z-index: 1000;
    cursor: pointer
}

.bienvenidatexto {
    font-size: 18px;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    background-color: #00000039;
    max-inline-size: 46cap;
    top: 40%;
    left: 10%;
    font-family: "Gochi Hand", cursive;
    font-weight: 500;
    font-style: normal;
    color: white;

    transition: opacity 0.5s ease;

}

/* Estilos para la clase "bienvenidatexto" */
.bienvenidatexto {
    transition: opacity 0.5s ease;
    opacity: 1;
    /* Por defecto, está completamente visible */
}

.desvanecido {
    opacity: 0;
}

/* Estilo para tener suficiente contenido y permitir el scroll */

.bienvenida {
    margin: 50px;
}

#mostrar-popup {
    display: flex;
    flex-direction: column;
}

/* Aqui la informacion de la bienvenida */
.bienvenida {
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

/* Contenedor de tarjetas */
.contenedortarjetas{
    padding: 60px;
    display: flex;
    flex-direction:row;
    align-content:space-between;
    
    background-color:white;
    padding: 10px;
}
/* Aqui va la informacion de la tarjeta */

.tarjeta {
    color: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color:#3686a5 ;
    margin-top: 20px;
    transition: transform 0.5s;
    /* Suavizar la animación */
}

.tarjeta:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño al pasar el mouse */
}

.encabezado01 {
    font-size: 33;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    background-color:#cd2b71;
    color: white;
    padding: 5px;
    text-align: center;
}
.infotitulo{
    color: white;
    font-size: 33;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.imagenpersonaje {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.nuestrasseries{
    border-radius: 10px;

}

Estilos para responsive
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }

    .navbar-title {
        margin-bottom: 10px;
    }
}